html, body {
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
    justify-content: space-between;
}

.header-section {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    padding-bottom: 3%;
}

.header-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.header-text-bold {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin-right: 700px;
    margin-left: 30px;
}

.left-top-links {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.image {
    display: flex;
    width: 25%;
    height: auto;
    margin: 40px;
    justify-self: flex-end;
}

.hero-section {
    /* text container + image */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}

.hero-text {
    /* only the text and button */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-main {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
}

.hero-button {
    background-color: #3882F6;
    color: #FFFFFF;
    font-weight: 600;
    border: 0px solid;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 10px;
    margin-left: 0px;
    justify-self: center;
    align-self: flex-start;
    transition-duration: 0.4s; /* hover effect duration */
}

/* hover effect */
.hero-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    margin-bottom: 5%;
}

.information-header {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.information-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-graphic {
    background-color: #FFFFFF;
    padding: 70px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: auto;
    width: 5%;
    transition-duration: 0.2s; /* hover effect duration */
}

.random-graphic:hover {
   border: 10px solid #3882F6;
}

.information-text {
    text-align: center;
    color: #3D4C5F;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5% 10%;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
}

.quote-author {
    display: flex;
    color: #000000;
    font-weight: 600;
    justify-self: flex-end;
    align-self: flex-end;
}

.call {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 5% 10%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-evenly;
}

.call-text {
    display: flex;
    flex-direction: column;
}

.call-header {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.sign-up-button {
    padding: 2px 5px;
    background-color: #3882F6;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-self: center;
    align-self: center;
    transition-duration: 0.4s; /* hover effect duration */
}

.button-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: #FFFFFF;
    text-align: center;
    justify-self: center;
    align-self: center;
}

/* hover effect */
.sign-up-button:hover {
    opacity: 70%; 
}

.footer {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: #FFFFFF;
}